@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html, body {
  overflow: hidden;
}
[data-scroll-container]::-webkit-scrollbar {
  display: none;
}
[data-scroll-container] {
  scrollbar-width: none;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}


